In [1]:
n= 23
n1 = 45

In [2]:
t = (n + n1 + n)

In [8]:
print(t+t)

182

In [9]:
print(t+t)

182

In [11]:
type("Hello word")

str

In [12]:
isinstance(1,int)

True

In [13]:
#this is a comment

In [ ]:
#cammel case
#pascal case
#snake case

In [14]:
#this is a comment
#this is a second comment
#this is a third comment

In [15]:
print ("jbadsbajbs\jdbsjbcs")

jbadsbajbs\jdbsjbcs

In [16]:
print ("jbadsbajbs\\jdbsjbcs")

jbadsbajbs\jdbsjbcs

In [17]:
print ("jbadsbajbs\'jdbsjbcs")

jbadsbajbs'jdbsjbcs

In [18]:
print ("jbadsbajbs\"jdbsjbcs")

jbadsbajbs"jdbsjbcs

In [19]:
print ("jbadsbajbs\njdbsjbcs")

jbadsbajbs
jdbsjbcs

In [20]:
print ("jbadsbajbs\tjdbsjbcs")

jbadsbajbs	jdbsjbcs

In [22]:
print ("jbadsbajbs""jdbsjbcs")

jbadsbajbsjdbsjbcs

In [23]:
#we can use single or double quotation fro strings
print("absjbasjb")
print('jbsaknksan')

absjbasjb
jbsaknksan

In [24]:
print ("jbadsbajbs'jdbsjbcs")

jbadsbajbs'jdbsjbcs

In [27]:
#note********
print("""\fknksan
sdnknklmds
dnknkndvkl""")

knksan
sdnknklmds
dnknkndvkl

In [31]:
cars = 100
drivers= 30
passengers = 90
print("cars =" , cars)
print("drivers =" , drivers)
print("passengers=", passengers)
print("cars =", cars ,"drivers =" , drivers , "passengers=", passengers)

cars = 100
drivers = 30
passengers= 90
cars = 100 drivers = 30 passengers= 90

In [40]:
print("Hello", end="\"")
print("word")
print("hello", end =" ")
print ("word")

Hello"word
hello word

In [42]:
x = 45
print("hello" , x)

hello 45

In [43]:
#you cant use + to concatinate different data types
#but you can use ","

In [46]:
cars = 100
drivers= 30
passengers = 90
print("cars =" + str(cars))
print("drivers =" + str(drivers))
print("passengers=" + str(passengers))
print("cars =", cars ,"drivers =" , drivers , "passengers=", passengers)

cars =100
drivers =30
passengers=90
cars = 100 drivers = 30 passengers= 90

In [47]:
#Casting
#str()
#int()
#float()

In [48]:
#Arthmetic operations
#+
#-
#*
#/
#**power
#% reminder
#//quotient

In [57]:
import math
a= 4
b= 13
c= 15
s= (a+b+c)/2
A= math.sqrt(s*(s-a)*(s-b)*(s-c))
print(s)
print(A)

16.0
24.0

In [59]:
import math

In [60]:
a=4
b=13
c=15
s= (a+b+c)/2
A= math.sqrt(s*(s-a)*(s-b)*(s-c))
print(s)
print(A)

16.0
24.0

In [64]:
print("me")

me

In [2]:
#string indexing
str1 = "hello world!"
print (str1[0])
print (str1[-12])
print (str1[-1])
print (str1[11])

h
h
!
!

In [3]:
#range slicing
print(str1[0:4])

hell

In [4]:
print (str1[:4])

hell

In [71]:
print (str1[3:])

lo world!

In [5]:
print (str1[0:12:1])#there are 11 indexes so 12 not included
print (str1[0::])
print (str1[::-1])

hello world!
hello world!
!dlrow olleh

In [87]:
#membership operators
#in
#not in
"wo"in str1

True

In [86]:
"Wo"in str1

False

In [89]:
#string methods
str1.capitalize()

'Hello world!'

In [99]:
#STRING FORMATTING***** what is the use
#str.format
#f-strings
country= "Tanzania"
print("my country is {}".format(country,weight))
print("my country is {1} and weight is {0}".format(country,weight))

my country is Tanzania
my country is 21 and weight is Tanzania

In [91]:
print("my country is {0}".format(country))

my country is Tanzania

In [92]:
weight = 21
print("my country is {0} and weight is {1}".format(country,weight))

my country is Tanzania and weight is 21

In [94]:
print("my country is {1} and weight is {0}".format(country,weight))

my country is 21 and weight is Tanzania

In [97]:
print("my country is {}".format(weight,country))#default is 0

my country is 21

In [98]:
print("my country is {} and weight is {}".format(country,weight))

my country is Tanzania and weight is 21

In [102]:
print("my country is {0:s} and weight is {1:3d}".format(country,weight))#specifiers****************

my country is Tanzania and weight is  21

In [103]:
number =2324.7689
height = 1234
print("Value of number to 2 decimal places is {:.2f}".format(number))

Value of number to 2 decimal places is 2324.77

In [104]:
print ("8 width and 2 dp {:8.2f}".format(number))

8 width and 2 dp  2324.77

In [105]:
print ("exponetial and 2 dp {:e}".format(number))

exponetial and 2 dp 2.324769e+03

In [107]:
print ("hexadecimal {:x}".format(height))

hexadecimal 4d2

In [109]:
#fromat other symbols 
#,> etc

In [110]:
#f-strings format
name= "john"
print (f'name is {name}')

name is john

In [111]:
# {value + 2}

In [112]:
# interest_rate eg constants

In [116]:
#input from keyboard
#varname = input(string_prompt)
# eg num1 = int(input("Enter interger number 1"))
num1 = int(input("Enter interger number 1"))

Enter interger number 1123

In [115]:
num1 = int(input("Enter interger number 1"))
num2 = int(input("Enter interger number 2"))
print("sum of {} and {} is {}".format(num1,num2,num1+num2))

Enter interger number 1233
Enter interger number 22345
sum of 233 and 2345 is 2578

In [117]:
#import math
#import statistics as stat, average mean etc
#assignment operators
#=
#+= c+=a c= c+a

In [120]:
boolean = 0
print (boolean)

0